.container {
	width: 25%;
	padding: 30px;
	opacity: 0;
	animation: ani 2.5s forwards;
}

@keyframes ani {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.checkbox {
	margin-bottom: 10px;
	label {
		margin-left: 10px;
	}
}

@media (max-width: 767px) {
	.container {
		width: 100%;
		padding: 10px;
	}
}
