.container {
	width: 75%;
	background-color: rgb(227, 232, 236);
	padding: 30px;
	opacity: 0;
	animation: ani 2.5s forwards;
}

@keyframes ani {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.buttons {
	text-align: center;

	button {
		border: 1px solid rgb(48, 12, 139);
		width: 200px;
		height: 50px;
		background-color: inherit;

		&:first-child {
			border-radius: 10px 0 0 10px;
		}

		&:last-child {
			border-radius: 0 10px 10px 0;
		}

		&:hover {
			cursor: pointer;
		}

		&.active {
			background-color: rgb(48, 12, 139);
			color: rgb(227, 232, 236);
		}
	}
}

.list {
	margin-top: 30px;

	li {
		display: flex;
		flex-direction: column;
		background-color: azure;
		padding: 30px 40px;
		overflow: hidden;
		min-width: 300px;

		&:not(:first-child) {
			margin-top: 15px;
		}

		&:hover {
			cursor: pointer;
			background-color: rgb(232, 232, 246);
			transform: translateY(-7px);
		}

		.main-info {
			display: flex;
			justify-content: space-between;
			margin-bottom: 20px;

			.price {
				color: rgb(48, 12, 139);
				font-weight: 900;
				font-size: 1.8em;
			}

			img {
				max-width: 100%;
				height: auto;
			}
		}

		.details {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.title {
				color: rgb(139, 141, 144);
				font-weight: 500;
				margin-bottom: 8px;
			}

			.data {
				font-weight: 500;
				margin-bottom: 8px;
			}
		}
	}
}

@media (max-width: 767px) {
	.container {
		width: 100%;
		padding: 10px;
	}
	.buttons {
		button {
			width: 130px;
			height: 40px;
		}
	}
	.list {
		li {
			padding: 10px 20px;
		}
	}
}
