@import-normalize;

html,
body,
ul,
ol {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(227, 232, 236);
	font: 1em sans-serif;
	min-width: 300px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.flights {
	display: flex;
	flex-direction: row;
}

@media (max-width: 767px) {
	.flights {
		flex-direction: column;
	}
	body {
		font-size: smaller;
	}
}
